<div id="header" class="wrapper">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink class="nav-link" href="hooks">Hooks</NavLink></li>
        </ul>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}